<mat-card fxLayoutAlign="start start">
    <form class="needs-validation" [formGroup]="diseaseForm" ngNativeValidate>
        <div class="form-group">
                <div>
                    <label for="duration">How long have you been treated ?</label>
                    <input type="text" class="form-control-center" formControlName="duration" [(ngModel)]="duration" name="duration" placeholder="Ex : 3 years" required>
                </div>
        </div>
        <div class="form-group">
                <div>
                    <label for="treatment">Which treatments do you take ?</label>
                    <input type="text" class="form-control" formControlName="treatment" name="treatment" [(ngModel)]="treatment" placeholder="Ex : Insuline" required>
                </div>
        </div>
    </form>
</mat-card>