<section>

    <div class="container">

        <h4>List of connected objects :</h4>
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">Installation date</th>
                    <th scope="col">Object Type</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Status</th>
                    <th scope="col">State</th>
                    <th scope="col">More details</th>
                    



                </tr>
            </thead>
           <tbody>
                    <tr *ngFor="let nonMedicalConnectedObject of nonMedicalConnectedObjects">
                        <td>{{ nonMedicalConnectedObject.installationDate }}</td>
                        <td>{{ nonMedicalConnectedObject.nonMedicalObjectType}}</td>
                        <td>{{ nonMedicalConnectedObject.brand}}</td>
                        <td>{{ nonMedicalConnectedObject.status}}</td>
                        <td>{{ nonMedicalConnectedObject.state}}</td>
                        <td><button class="btn btn-success" (click)="redirectToObjectConfigurationPage(nonMedicalConnectedObject)"><mdb-icon fas icon="info-circle"></mdb-icon></button></td>
                    </tr>
            </tbody>
       </table>

        <span><br><br></span>
    </div>
</section>