<section>

    <div class="container">

        <h4>List of connected objects :</h4>
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Installation date</th>
                    <th scope="col">Status</th>
                    <th scope="col">State</th>
                    <th scope="col">IP ADDRESS</th>



                </tr>
            </thead>
           <tbody>
                    <tr *ngFor="let nonMedicalConnectedObject of nonMedicalConnectedObjects">
                        <td>{{ nonMedicalConnectedObject.brand }}</td>
                        <td>{{ nonMedicalConnectedObject.installationDate }}</td>
                        <td>{{ nonMedicalConnectedObject.status }}</td>
                        <td>{{ nonMedicalConnectedObject.state }}</td>
                        <td>{{ nonMedicalConnectedObject.ipAddress }}</td>
                    </tr>
            </tbody>
       </table>

        <span><br><br></span>
    </div>
</section>