<section>

    <div class="container">

        <h4>List of connected objects :</h4>
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">Last Parameter Modification</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Last Measurement object</th>
                    <th scope="col">Status</th>
                    <th scope="col">State</th>
                    <th scope="col">Room</th>



                </tr>
            </thead>
           <tbody>
                    <tr *ngFor="let NonMedicalConnectedObject of NonMedicalConnectedObjects">
                        
                        <td>{{ NonMedicalConnectedObject.version }}</td>
                        <td>{{ NonMedicalConnectedObject.last_Parameter_Modification }}</td>
                        <td>{{ NonMedicalConnectedObject.brand }}</td>
                        <td>{{ NonMedicalConnectedObject.last_Measurement_objesct }}</td>
                        <td>{{ NonMedicalConnectedObject.status }}</td>
                        <td>{{ NonMedicalConnectedObject.state }}</td>
                        <td>{{ NonMedicalConnectedObject.room }}</td>
                    </tr>
            </tbody>
       </table>

        <span><br><br></span>
    </div>
</section>