<div class="container">
    <mat-sidenav-container class="sidenav-container transparent">
        <mat-sidenav #mailOverviewSidenav mode="side" class="sidenav">
            <div class="mail-info">
                <div>
                    <div class="d-flex justify-content-end">
                        <button (click)="closeNotificationOverview()" mat-raised-button color="warn" matTooltip="Close">
                            <mdb-icon fas icon="angle-double-left"></mdb-icon>
                        </button>
                    </div>
                </div>
                <br>
                <h4>{{ lastSelectedNotification?.messageObject }}</h4>
                Date : {{ lastSelectedNotification?.sendingDate | date: 'MMM d, y, HH:mm' }}
                <hr>
                <div class="sidenav-message-body-container" [innerHTML]="lastSelectedNotification?.messageBody"></div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="table-responsive">
                <table mat-table #notificationsMatTable [dataSource]="notificationsDataSource" class="col-12">
                    <ng-container matColumnDef="notificationState">
                        <th mat-header-cell *matHeaderCellDef> State </th>
                        <td mat-cell *matCellDef="let notification">
                            <div
                                matTooltip="{{ notification.notificationState }} {{ notification.readingDate | date: 'MMM d, y, HH:mm'}}">
                                <span *ngIf="notification.notificationState == NotificationState.SENT">
                                    <mdb-icon fas icon="envelope"></mdb-icon>
                                </span>
                                <span *ngIf="notification.notificationState == NotificationState.READ">
                                    <mdb-icon fas icon="envelope-open-text"></mdb-icon>
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="sendingDate">
                        <th mat-header-cell *matHeaderCellDef> Sending Date </th>
                        <td mat-cell *matCellDef="let notification">
                            {{ notification.sendingDate | date: 'MMM d, y, HH:mm' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="recipient">
                        <th mat-header-cell *matHeaderCellDef> Recipient </th>
                        <td mat-cell *matCellDef="let notification"> {{ notification.recipientName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="object">
                        <th mat-header-cell *matHeaderCellDef> Object </th>
                        <td mat-cell *matCellDef="let notification"> {{ notification.messageObject }} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let notification">
                            <button (click)="openCloseNotificationOverview(notification)" mat-raised-button
                                color="primary" matTooltip="Open the mail">
                                <mdb-icon fas icon="eye"></mdb-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container *ngIf="connectedUserType == UserType.STAFF">
                        <tr mat-header-row *matHeaderRowDef="staffNotificationsDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: staffNotificationsDisplayedColumns;"></tr>
                    </ng-container>
                    <ng-container *ngIf="connectedUserType == UserType.RESIDENT">
                        <tr mat-header-row *matHeaderRowDef="residentNotificationsDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: residentNotificationsDisplayedColumns;"></tr>
                    </ng-container>
                </table>
                <mat-paginator [pageSize]="15" [pageSizeOptions]="[15, 25, 50, 100]" #notificationsPaginator>
                </mat-paginator>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>