.sidenav-container {
  min-height: 500px;
}

.sidenav {
  width: 300px;
  border: 3px solid rgb(11, 143, 231);
}

.sidenav-message-body-container {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mail-info {  
  margin: 10px 10px;
}