<section>
    <span class="header">Select a resident to see his tracking map :</span>
        <mat-card class="track-list" *ngFor="let resident of residents">
            <mat-card-header>
            <mat-card-title>{{ resident.lastName }} {{ resident.firstName}}</mat-card-title>
            <button mat-raised-button color="info" (click)="select(resident.id)"><mat-icon>all_out</mat-icon></button>
            </mat-card-header>
        </mat-card>
        <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]" style="width: 1000px; margin: 0 auto;">
        </mat-paginator>
</section>
<!--<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Select</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resident of residents">
            <th scope="row">{{ resident.lastName }}</th>
            <td>{{ resident.firstName }}</td>
            <td><button mat-raised-button color="info" (click)="select(resident.id)"><mat-icon>all_out</mat-icon></button></td>
        </tr>
    </tbody>
</table>-->