<section>
    <h1 class="title">&nbsp; &nbsp; Complete the configuration</h1>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-12 filter">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Sunshine Sensor</mat-card-title>
                    </mat-card-header>
                    <h1>You can't configure a scenario for the sunshine sensor</h1>
                </mat-card>
            </div>
        </div>
    </div>
</section>
