<br> 
<h1>Door Sensor</h1>

  <br>
  <table class="table table-bordered">
   <tbody>
    <br>
    <tr>
      <td>Installation date : {{nonMedicalConnectedObject?.installationDate | date: 'medium'}}</td>
      <td>Brand: {{nonMedicalConnectedObject?.brand}}</td>
      <td>Status : {{ nonMedicalConnectedObject?.status}} </td>
        <td> Door locked :  {{setting?.isDoorLocked}} </td>
        <td> Door Open:  {{setting?.isDoorOpen}} </td>
      </tr>
      <br>
    <h1>Settings</h1>
    <tr>
        <td>  
          <mat-slide-toggle (change)="changed()" [(ngModel)]="doorLocked" >Lock</mat-slide-toggle>
        </td>
 
    </tr> 
    </tbody>
    <br> 
    <div fxLayout="row" fxLayoutAlign="space-evenly center" >
      <button type="button" class="btn btn-success" (click)="save()">Save</button>
      <button type="button" class="btn btn-success" (click)="redirectToObjectListPage()">Exit</button>
  </div>
</table>

