<mat-card>
    <mat-card-header>
        <mat-card-title>
            <img src="{{ stateInfo[room.state]?.icon }}"> &nbsp;
            {{ resident.lastName | uppercase }} {{ resident.firstName }}
        </mat-card-title>
        <mat-card-subtitle>Room n°{{ room.doorNumber }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h5>Number of connected objects : {{ room.numberOfNonMedicalObjects }}</h5>
        <br>
        <div class="object-icon text-center" *ngFor="let object of room.objectQuantityByType | keyvalue">
            <img src="{{ nonMedicalObjectIcons[object.key].iconPath }}">
            <br>
            <span>{{ typeName(object.key) }}</span>
            <br>
            <span>{{ object.value }}</span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-info" (click)="moreDetailsOnRoom(room.doorNumber)">
                <mdb-icon fas icon="plus-circle"></mdb-icon> More details...
            </button>
        </div>
    </mat-card-actions>
</mat-card>