<mat-card>
    <mat-card-header>
        <mat-card-title>{{ name }}</mat-card-title>
        <mat-card-subtitle>Member since 2016</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h5>Owned connected objects : 3</h5>
        <div class="object-icon text-center" style="background-color: red;">
            <img src="assets/images/connected-objects/shutter.png">
            <br>
            test
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-info">
                <mdb-icon fas icon="plus-circle"></mdb-icon> More details...
            </button>
        </div>
    </mat-card-actions>
</mat-card>