/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "one-piece";
  src: url("assets/fonts/one-piece.ttf") format("truetype");
}

html,
body {
  height: 100%;
  position: relative;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

footer{
    width: 100%;
    margin: 0;
}
