<mdb-navbar id="navbar" SideClass="navbar navbar-expand-lg" [containerInside]="false">
    <a [routerLink]="['/']">
        <img src="assets/images/logos/skypiea.png" class="project-image">
    </a>
    <span class="environment">({{environmentVariables.environmentTitle}})</span>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect (click)="openSignInDialog()">
                    <mdb-icon fas icon="user"></mdb-icon> Sign In
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect [routerLink]="['/monitoring']">
                    <mdb-icon fas icon="desktop"></mdb-icon> Monitoring
                </a>
            </li>
          <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect>
                    <mdb-icon fas icon="exclamation-triangle"></mdb-icon> Failure Management
                </a>
            </li>
          <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect>
                    <mdb-icon fas icon="network-wired"></mdb-icon> My Smart Objects
                </a>
            </li>
          <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect>
                    <mdb-icon fas icon="briefcase-medical"></mdb-icon> Health Monitoring
                </a>
            </li>
          <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect>
                    <mdb-icon fas icon="map-marker-alt"></mdb-icon> Tracking
                </a>
            </li>
          <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect>
                    <mdb-icon fas icon="chart-line"></mdb-icon> Statistics
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" mdbWavesEffect>
                    <mdb-icon fas icon="envelope"></mdb-icon> Contact
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar>
