#navbar {
  background: url("../../../assets/gifs/sky.gif") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 55%;
}

.environment {
  font-family: "one-piece";
  font-size: 2rem;
}
