footer {
  background: url("../../../assets/gifs/sky.gif") no-repeat;
  background-size: cover;
}

img#team-logo {
  width: 20vw;
  max-width: 250px;
  height: auto;
}

#credits {
  font-family: 'one-piece';
  font-size: 1.3rem;
}