
<section>

    <div class="container" >
       
        <thead>
           
            <tr >
                <td><button class="btn btn-success" (click)="onClickObjectGroup('1')">Smoke sensor, temperature controller, shutter</button></td>
                <td><button class="btn btn-success" (click)="onClickObjectGroup('2')">alarm Clock, door sensor, bulb</button></td>
            </tr>
       
        </thead>
    <ng-container *ngIf="selectedGroup == '1'">
        <app-object-configuration-groupe1 [nonMedicalConnectedObjects]="firstGroupObjects"> </app-object-configuration-groupe1>
    </ng-container>
    
    </div>
</section>