
<section>

    <div class="container" >    
        <br>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" >
            <td><button type="button" class="btn btn-success" (click)="onClickObjectGroup('1')">Smoke Sensor, Temperature Controller, Shutter, Sunshine Sensor</button></td>
            <td><button type="button" class="btn btn-success" (click)="onClickObjectGroup('2')">Alarm Clock, Door Sensor, Bulb</button></td>
        </div> 
        <br>     
        
    <ng-container *ngIf="selectedGroup == '1'">
        <app-object-configuration-groupe1 [nonMedicalConnectedObjects]="firstGroupObjects"> </app-object-configuration-groupe1>
    </ng-container>
    <ng-container *ngIf="selectedGroup == '2'">
        <app-object-configuration-groupe1 [nonMedicalConnectedObjects]="secondGroupObjects"> </app-object-configuration-groupe1>
    </ng-container>
    </div>
</section>