section > div {
  width: 70%;
  margin: auto;
}

.container {
  margin-left: 10px;
}

section {
  height: 1200px;
  background: url("../../../assets/images/backgrounds/spring_garden.jpg") no-repeat;
  background-size: cover;
}    
  
.empty {
  height: 500px;
}
  
