section > div {
  width: 70%;
  margin: auto;
}

.container {
  margin-left: 10px;
}

section {
  background: url("../../../assets/images/backgrounds/spring_garden_opacity_80.jpg") no-repeat;
  background-size: cover;
}    
  
.empty {
  height: 500px;
}

#advantages{
  text-align: center;
  margin: 30px 0;
}

#advantages > div{
  padding: 0 0;
  font-weight: bold;
}

.info {
  padding-bottom: 30px;
}

#card-1,
#card-2,
#card-3{
  padding: 0 0;
  height: 272px;
}
  
