<section>
    <div class="container">
        <div class="row">
            <div id="carousel-container">
                <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                    <mdb-carousel-item>
                        <img class="d-block w-100" src="assets/images/carousel/control-cofee.png"
                            alt="Control coffee with a tablet">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <img class="d-block w-100" src="assets/images/carousel/monitoring-center.png"
                            alt="A support team always available">
                    </mdb-carousel-item>
                </mdb-carousel>
            </div>
        </div>
        <div id="advantages" class="row d-flex justify-content-between">
            <div class="col-12 col-md-3">
                <img src="assets/images/home-page/satisfaction.png"/>
                <br>
                Satisfied customers
            </div>
            <div class="col-12 col-md-3">
                <img src="assets/images/home-page/low-price.png"/>
                <br>
                Affordable prices
            </div>
            <div class="col-12 col-md-3">
                <img src="assets/images/home-page/nurse.png"/>
                <br>
                Nursing auxiliaries always available
            </div>
        </div>
        <div class="info row">
            <div class="col-12">
                <mat-card id="card-1">
                    <img class="d-block w-100 h-100" src="assets/images/home-page/arcade-games.png"
                            alt="Arcade games">
                </mat-card>
            </div>
        </div>

        <div class="info row">
            <div class="col-12">
                <mat-card id="card-2">
                    <img class="d-block w-100 h-100" src="assets/images/home-page/library.png"
                            alt="Library">
                </mat-card>
            </div>
        </div>

        <div class="info row">
            <div class="col-12">
                <mat-card id="card-3">
                    <img class="d-block w-100 h-100" src="assets/images/home-page/swimming-pool.png"
                            alt="Swimming pool">
                </mat-card>
            </div>
        </div>
    </div>
</section>