section {
    background: url("../../../assets/images/backgrounds/op-wallpaper.jpg") no-repeat;
    background-size: cover;
    width: auto;
    font-family: "Britannic Bold", Arial;
  }
  
  .title {
      font-family: "Britannic Bold", Arial;
      font-weight: bold;
      color: white;
  }
  
  hr {
      border: 1px white solid;
  }

  .statistic-section-title,
  .statistic-card-title {
    font-weight: bold;
  }
  
  .statistic-section-title {
    font-family: 'Courier New', Courier, monospace;
  }
  
  mat-card {
    margin-bottom: 15px;
  }
  
  .data-lack-info {
    font-weight: bold;
    font-style: italic;
  }

  