section {
  background: url("../../../assets/images/backgrounds/eneru-wallpaper.jpg") no-repeat;
  background-size: cover;
  height: 120%;
  width: auto;
}

.title {
    font-family: "Courier", Arial;
    font-weight: bold;
    color: white;
}

hr {
    border: 1px white solid;
}