<div class="container">
    <h1>About you...</h1>
    <form class="needs-validation" ngNativeValidate>
        <div class="form-group">
                <div class="col-md-4 mb-3">
                    <label for="diseases">Have you got medical issues ?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="diabetic">
                        <label class="form-check-label" for="diabetic">Diabetic</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="arthritis">
                        <label class="form-check-label" for="arthritis">Arthritis</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="fracture">
                        <label class="form-check-label" for="fracture">Fracture</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="alzheimer">
                        <label class="form-check-label" for="alzheimer">Alzheimer</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="parkinson">
                        <label class="form-check-label" for="parkinson">Parkinson</label>
                    </div>
                </div>
        </div>
    </form>
</div>