<br> 
<h1>Bulb</h1>

  <br>
  <table class="table table-bordered">
   <tbody>
    <br>
    <tr>
        <td>Installation date : {{nonMedicalConnectedObject?.installationDate | date: 'medium'}} </td>
        <td>Brand: {{nonMedicalConnectedObject?.brand}} </td>
        <td>Switch: {{ nonMedicalConnectedObject?.status}} </td>
        <td>Color: {{setting?.currentColor}} </td>
      </tr>
      <br>
    <h1>Update settings</h1>
    <tr>
        <td>  
          <mat-slide-toggle (change)="changed()" [(ngModel)]="myStatus" >Switch</mat-slide-toggle>
        </td>
        <td> 
          <mat-form-field>
            <mat-label>Color</mat-label>
            <mat-select [(value)]= "selected">
              <mat-option value="#FF00FF">Rose</mat-option>
              <mat-option value="#FFFF00">Jaune</mat-option>
              <mat-option value="#00BFFF">Bleu</mat-option>
              <mat-option value="#FF0000">Rouge</mat-option>
              <mat-option value="#00FF00">Vert</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
    </tr> 
    </tbody>
    <br> 
    <div fxLayout="row" fxLayoutAlign="space-evenly center" >
      <button type="button" class="btn btn-success" (click)="save()">Save</button>
      <button type="button" class="btn btn-success" (click)="redirectToObjectListPage()">Exit</button>
  </div>
</table>

