<div class="panel-list">
    <div class="panel-title">
      <h2>Liste de mes objets connectés</h2>
    </div>
    <div class="panel-table">
        <table class="table-object">
          <thead>
            <tr>
              <th>Marque </th>
              <th>Adresse IP</th>
              <th>Statut</th>
              <th>Etat</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{nonMedicalConnectedObject.brand}}</td>
              <td>{{nonMedicalConnectedObject.ipAddress}}</td>
              <td>{{nonMedicalConnectedObject.status}}</td>
              <td>{{nonMedicalConnectedObject.state}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>