section {
    background: url("../../../assets/images/backgrounds/sky_buildings.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-attachment: local;
  }

.trackmap {
    margin: 0 auto;
    height: 500px;
    width: 1000px;
    background: url("../../../assets/images/backgrounds/map.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header {
    font-family: "one-piece";
    font-size: 10mm;
}


