section {
    background: url("../../../assets/images/backgrounds/map.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

.empty {
    height: 500px;
  }

  .mat-icon {
    height: 24px;
    width: 24px;
    color: red;
    }